$plskyblue: #33C5F3;
$plblue: #0057FF;
$plyellow: #FFA800;
$plmagenta: #F333BD;
$plcarmin: #F34A33;
$plgrey: #99A0A6;
$pllightgrey: #F2F2F2;
$plantracit: #111516;
$pldarkgreen:#05252F;
$pldarkgreen70: #50666D;
$plblindblue: #76ABBB;
$plshadow: transparentize($pldarkgreen, .88);