.app-btn {
  font-weight: 500;
  padding: 22px 30px 24px;
  line-height: 0;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  &.btn__blue {
    color: white;
    background-color: $plskyblue;
    border: 2px solid $plskyblue;
  }
  &.btn__red {
    color: white;
    background-color: $plcarmin;
    border: 2px solid $plcarmin;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.nav-footer {
  position: fixed;
  bottom: 20px;
  z-index: 10;
  width: 100%;
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    //margin-left: -10px;
    //margin-right: -10px;
  }
  // ul {
  //   margin: 0;
  //   padding: 0;
  //   &>li {
  //     list-style: none;
  //     display: flex;
  //   }
  // }
}

.square-button {
  background-color: $plskyblue;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.date {
      background-image: url('../../assets/img/icons/date.svg');
    }
    &.square {
      background-image: url('../../assets/img/icons/square.svg');
    }
    &.msg {
      background-image: url('../../assets/img/icons/msg.svg');
    }
    &.info {
      background-image: url('../../assets/img/icons/info.svg');
    }
  }
}

.tape {
  &::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 50px;
    background-image: url('../../assets/img/icons/tape-arrow.svg');
    transition: 0.5s;
    transform: rotateX(180deg);
    background-repeat: no-repeat;
    background-position: center;
    top: 3px;
    left: 0;
  }
}